---
layout: base
---

.row 
  .span12.tagLine
    = snippet "home/tagline.md" 
.row
  .home.span9
    .preparation
      -# ########## header of diagram ########## 
      .diagram-header.row.hidden-phone
        .span3.offset3
          %h4 Application Preparation 
        .span3
          %h4 Server Preparation 
      -# ########## middle buttons ########## 
      .learn-btn.row
        %a.btn.span9(href="learn")
          .row
            .span3
              :markdown
                Learn
                -----
            .span3.hidden-phone
              :markdown
                Learn about how applications are built using JBoss EAP. 
            .span3.hidden-phone
              :markdown
                Learn about what server capabilities are provided in EAP 
      .discover-btn.row
        %a.btn.span9(href="discover")
          .row
            .span3
              :markdown
                Discover
                --------
            .span3.hidden-phone
              :markdown
                Run one of our tools to help you identify changes you need to make to your application.  
            .span3.hidden-phone
              :markdown
                Identify the JBoss EAP equivalent capabilities to support your application.
      .implement-btn.row
        %a.btn.span9(href="implement")
          .row
            .span3
              :markdown
                Implement
                ---------
            .span3.hidden-phone
              :markdown
                Implement the changes to your application
            .span3.hidden-phone
              :markdown
                Set up JBoss EAP with the capabilities needed for your application.   
      .deploy.hidden-phone
        .row
          .span3.offset2
            :markdown
              ###Deploy
              Deploy your application on EAP!
.row
  .span12
    = snippet "home/migrate_from.md" 

.row
  .span12
    = snippet "home/need_more_help.md"
