%div
  %table.jiveBorder{:border => "1", :cellpadding => "3", :cellspacing => "0", :style => "width: 100%; border: 1px solid #000000;"}
    %tr
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Application name
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Current Technologies
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Proprietary Libraries
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} JBoss Technologies
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Open Source Libraries
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Migration Hours
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Rating
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Engineering Contact
      %th{:align => "center", :style => "background-color: #6690bc;", :valign => "middle"} Testing Contact