%table.Table1jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid; background-color: rgb(255, 255, 255); width: 512px; height: 628px;"}
  %tbody
    %tr.Table11
      %td.Table1_A1{:style => "text-align: left; width: 3.4625in; background-color: #99ccff; color: #333333; padding: 0px; font-family: arial,helvetica,sans-serif;"}
        %p.P4
          %span.T1 Categories
      %td.Table1_B1{:style => "text-align: left; width: 3.4625in; background-color: #99ccff; color: #333333; padding: 0px; font-family: arial,helvetica,sans-serif;"}
        %p.P4
          %span.T1 Description
    %tr
      %td.Table1_A2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %p.P4
          %span.T1 Server
      %td.Table1_B2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %table.Table2jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid;"}
          %tbody
            %tr
              %td.Table2_A1{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 model
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 vendor
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 hostname
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Disk size
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 No of CPUs
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 OS type
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 OS version
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Server role
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 location
        %p.P3
    %tr
      %td.Table1_A2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %p.P4
          %span.T1 Network
      %td.Table1_B2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %table.Table3jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid;"}
          %tbody
            %tr
              %td.Table3_A1{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 IP address
            %tr
              %td.Table3_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Traffic volume (low | medium | high)
            %tr
              %td.Table3_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Third party details
        %p.P3
    %tr
      %td.Table1_A2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %p.P4
          %span.T1 Software
      %td.Table1_B2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %table.Table4jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid;"}
          %tbody
            %tr
              %td.Table4_A1{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Name
            %tr
              %td.Table4_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Vendor
            %tr
              %td.Table4_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 No of licenses
            %tr
              %td.Table4_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Role
        %p.P3
    %tr
      %td.Table1_A2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %p.P4
          %span.T1 Database
      %td.Table1_B2{:style => "text-align: left; width: 3.4625in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
        %table.Table5jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid;"}
          %tbody
            %tr
              %td.Table5_A1{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 name
            %tr
              %td.Table5_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 instance
            %tr
              %td.Table5_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Server hostname
            %tr
              %td.Table5_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 vendor
            %tr
              %td.Table5_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Role
            %tr
              %td.Table5_A2{:style => "text-align: left; width: 3.3861in; color: #333333; padding: 0px; background-color: #ffffff; font-family: arial,helvetica,sans-serif;"}
                %p.P4
                  %span.T1 Brief description about the dependent Shared Database
        %p.P3