%table.Table1jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :height => "160", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid; width: 637px;"}
  %tbody
    %tr.Table11
      %td.Table1_A1{:style => "text-align: left; width: 1.3653in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
        %p.P5
          %span.T1 Application
      %td.Table1_A1{:style => "text-align: left; width: 0.7806in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
        %p.P5
          %span.T1 status
      %td.Table1_C1{:style => "text-align: left; width: 4.7813in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
        %p.P5
          %span.T1 Resources
    %tr
      %td.Table1_A2{:style => "text-align: left; width: 1.3653in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
        %p.P7
          %span.T1 Name
      %td.Table1_A2{:style => "text-align: left; width: 0.7806in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
        %p.P1
      %td.Table1_C2{:style => "text-align: left; width: 4.7813in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
        %table.Table2jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid;"}
          %tbody
            %tr.Table21
              %td.Table2_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P7
                  %span.T1 Eng
                  %span.T2 T
                  %span.T1 eam
              %td.Table2_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P7
                  %span.T1 QA Team
              %td.Table2_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P7
                  %span.T1 Deploy Team
              %td.Table2_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P7
                  %span.T1 Eng stakeholder
              %td.Table2_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P7
                  %span.T1 QA stakeholder
              %td.Table2_F1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P7
                  %a{:name => "__DdeLink__701_103312074"}
                  %span.T1 Deploy stakeholder
            %tr
              %td.Table2_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table2_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table2_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table2_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table2_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table2_F2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
        %p.P1
    %tr
      %td.Table1_A2{:style => "text-align: left; width: 1.3653in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
        %p.P9
          %span.T3 Name
      %td.Table1_A2{:style => "text-align: left; width: 0.7806in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
        %p.P1
      %td.Table1_C2{:style => "text-align: left; width: 4.7813in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
        %table.Table3jiveBorder{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-width: 1px; border-color: rgb(0, 0, 0); border-style: solid;"}
          %tbody
            %tr.Table31
              %td.Table3_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P8
                  %span.T2 Eng Team
              %td.Table3_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P8
                  %span.T1 QA Team
              %td.Table3_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P8
                  %span.T1 Deploy Team
              %td.Table3_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P8
                  %span.T1 Eng stakeholder
              %td.Table3_A1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P8
                  %span.T1 QA stakeholder
              %td.Table3_F1{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: #99ccff; font-family: arial,helvetica,sans-serif;"}
                %p.P8
                  %span.T1 Deploy stakeholder
            %tr
              %td.Table3_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table3_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table3_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table3_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table3_A2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
              %td.Table3_F2{:style => "text-align: left; width: 0.784in; color: #333333; padding: 0px; background-color: transparent; font-family: arial,helvetica,sans-serif;"}
                %p.P1
        %p.P7
          %span.T1