%dt
  JAX-RS
%dd
  RESTEasy is the default JAX-RS implementation in JBoss EAP 6.
  If you have an application that's using RESTEasy you should
  remove all the RESTEasy configuration settings from
  its web.xml file.  Section 
  %a{:href=>"https://access.redhat.com/site/documentation//en-US/JBoss_Enterprise_Application_Platform/6/html/Migration_Guide/sect-JAX-RS_and_RESTEasy_Changes.html"}3.2.3 
  of the, "JBoss Enterprise Application Platform 6 Migration Guide", 
  describes the actions to take.