---
layout: base
---
.row-fluid
  = snippet "platforms/eap/introduction.md"    

%br
%br
<!-- Only required for left/right tabs -->
.tabbable 
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>"#general", "data-toggle"=>"tab"}General
    %li
      %a{:href=>"#eap5x", "data-toggle"=>"tab"}5.x
    %li
      %a{:href=>"#eap4x", "data-toggle"=>"tab"}4.x 
  <!-- ++++++++++++++###############++++++++++++++++ -->
  .tab-content 
    <!-- +++++++++++++++++++++++++++++++++++++++++++ -->
    .tab-pane.active{:"id"=>"general"} 
      = snippet "platforms/eap/general.md"

    <!-- +++++++++++++++++++++++++++++++++++++++++++ -->
    .tab-pane{:"id"=>"eap5x"}
      = snippet "platforms/eap/eap5x.md"

    <!-- +++++++++++++++++++++++++++++++++++++++++++ -->
    .tab-pane{:"id"=>"eap4x"}
      = snippet "platforms/eap/eap4x.md"
 
