---
layout: base
---
.row-fluid     
  = snippet "platforms/weblogic/introduction.md"
<!-- Only required for left/right tabs -->
.tabbable 
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>"#general", "data-toggle"=>"tab"}General
    
  <!-- ++++++++++++++###############++++++++++++++++ -->
  .tab-content 
    <!-- +++++++++++++++++++++++++++++++++++++++++++ -->
    .tab-pane.active{:"id"=>"general"}
      = snippet "platforms/weblogic/general.md"
  

