$titleColor: #781f1c;

$btnDiscoverBackground: #992913;
$btnDiscoverBackgroundHighlight: #781f1c;

.tagLine {
  color: $titleColor;
  text-align:center;
}

.snippet { 
  h1 {
    color: $titleColor; 
  }
  a:not(.btn) {
    line-height:11px;
    background:url(../images/OpenOut.png)  center right no-repeat;
    padding-right:20px;
  } 
}

// Discover buttons are custom for the migration center based on crobson's styling
.btn-discover {
  @include buttonBackground($btnDiscoverBackground, $btnDiscoverBackgroundHighlight);
  font-size: 20px;
  padding: 14px;
}

.home { 
  .title {
    color: $titleColor;
  }
}

.preparation {
  min-height: 1px;
  max-height: 90%;
  background: url(../images/vert_arrow.png) 8em repeat-y; 
  @media (max-width: 768px) {
    background: white; 
  } 
  h2 {
    padding-top:10px;
    font-size: 22px;
    font-weight:bold;
    padding-left: 10px;
    text-align: center;
    text-transform: uppercase;
    color:#781f1c;
  } 
  .btn {
    height:75px;
    text-align:left;
    padding-left: 0px;
    margin-left: 0px;
  }
}

.deploy {
  text-align: center; 
  background: url(../images/bottom_arrow.png) 7.9em -1px no-repeat white;
  padding-left: 15em;
  & > h2 {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.secondary-buttons { 
  .btn {
    margin-top: 20px; 
    h2 {
      line-height:90%;
      font-size: 22px;  
    } 
  }
} 

.migrNavBtn {
  font-size:18px; 
  text-align:center;
}

.migrDropdownMenu {
  text-align:left;
}

.mktBtnText {
  margin-top:0; 
  line-height:90%;
} 

/* tab settings */
/*
.tab-content {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 10px;
} 
*/ 

.discoverBtn {
  color:white; 
  height:60px; 
  font-size:22px; 
  border-radius:5px; 
  margin-right:20px;
  margin-left:20px;
  margin-top:10px;
  margin-bottom:10px;
}

.learn-btn, .discover-btn, .implement-btn {
  margin: 1.6em 0;
}

