.homeTitle {
    color:#781f1c;
}

.migrButtonBar {
  background-color: gray;        
}

.migrUl { 
    list-style-image:url(/images/ChevronBullets.png);
}

#homeWallPaper {
  background-image:url(/images/DeployonEAP.png);
  background-repeat:no-repeat;
  background-position: 70px 30px;
  height:385px;
} 

.homeIgm {
    height:35px;
}

.homePgBtn {
    color:#781f1c; 
    margin-bottom: 5px;
    margin-top: 5px;
    height:75px;
    border-radius:5px;
    text-align:left;
}


.deployBtn {
    color:#781f1c; 
    background-color: white; 
    margin-bottom: 15px;
    margin-top: 15px;
    height:75px;
    #border-radius:5px;
    text-align:center;
    font-size:30px;
}


.homeBtnTitle {
    padding-top:10px;
    font-size: 22px;
    font-weight:bold;
}

.homeBtnText {
    margin-right: 0px; 
    font-size: 12px; 
    color: gray;
    padding-left:10px;
}


.migrNavBtn {
    font-size:18px; 
    text-align:center;
}

.migrDropdownMenu {
    text-align:left;
}

.mktBtn {
    color:white; 
    background-color: #545454; 
    margin-bottom: 20px; 
    height:75px;
    border-radius:5px;
    float: right;
    width: 90%;
}

.mktBtnTitle {
    line-height:90%;
    font-size: 22px;
}

.mktBtnText {
    margin-top:0; 
    line-height:90%;
}


.appDiv {
    float: left;
}


.appBtn {
    color:white; 
    background-color: LightSteelBlue; 
    margin-bottom: 5px; 
    height:100px; 
    float: right;
    display: table-cell;
    text-align:center;
}


.appBtnTitle {
    line-height:90%;
    margin-top: 15px;
    vertical-align: middle;
}


.appBtnText {
    margin-top:0; 
    line-height:90%;
    font-size: small;
}

.cfgDiv {
}

.cfgBtn {
    color:white; 
    background-color: LightSteelBlue; 
    margin-bottom: 5px; 
    height:100px; 
    float: left;
    #clear: both;
    
    display: table-cell;
    text-align:center;
}

.cfgBtnTitle {
    line-height:90%;
    #margin-top: 30px;
    vertical-align: middle;
}

.cfgBtnText {
    margin-top:0; 
    line-height:90%;
    font-size: small;
}

.dpyTitle {
    color:white; 
    background-color: DimGrey ;
    margin-top: 0px;
    text-align:center;
}

.learnImg{
    height: 10px;
}

.btnBarIcon {
  height: 40px;
  float:left;
}


/* tab settings */
/*
.tab-content {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

*/



.discoverBtn {
    color:white; 
    height:60px; 
    font-size:22px; 
    border-radius:5px; 
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.discoverVisitBtn {
    background-color:gray;
}

.discoverDwnLdBtn {
    background-color:#781f1c;
}

.discoverDwnLdBtnDisabled {
    background-color:#ECD9EC;
    border-bottom: #E5E5E5;
    border-right:#E5E5E5;
} 

